body {
    font-size: 120%;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

A:link {
    text-decoration: none;
}

A:hover {
    text-decoration: none;
}