.ac-bar {
    background-color:rgb(0,0,0);opacity:0.8;
}

.title {
    color: #2aa9db !important;
}

.title:hover {
    color: #a1d9ef !important;

}

.nav-link A:hover {
    text-decoration: none;
    color: #a1d9ef !important;
}